
main{
    background-image: url("../img/bosque.jpg");
    color: white;
    background-size: 100vw 100vh ;
    background-attachment: fixed;
    margin: 0px;
    font-family: Garuda;
}
form{
    padding: 10px 15px;
    width: 500px;
    box-sizing: border-box;
    margin: auto;
}
fieldset{
    background: rgba(0,0,0,0.5);
    border-radius: 12px;
    border: none;
}

.contacta{
    text-align: center;
    margin: 0px;
    font-size: 35px;
    margin-bottom: 20px;
}

input, textarea{
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
    border: none;
}
input{
    max-width: 50%;
}
textarea{
    min-height: 100px;
    max-height: 150px;
    min-width: 300px;
    max-width: 75%;
}

#boton{
    color: black;
    background: lightsteelblue;
    text-align: center;
    padding: 20px;
}

#boton:hover{
    cursor: pointer;
}

@media (max-width: 500px){
    main{
        margin: auto;
    }
    textarea{
        max-width: 200px;
    }
    form{
        text-align: justify;
        width: 100%;
    }
    fieldset{
        background: none;
        border: none;
    }
    .contacta{
        text-align: left;
    }
    #boton{
        text-align: center;
        width: 150px;

    }
}

