header{
    font-family: Garuda;
    display: grid;
    grid-template-areas: "titulo enlace";
    grid-template-columns: auto 220px;
}
header a{
    color: black;
    text-decoration-line: none;
}

.emlaces{
    padding-top: 20px;
    word-spacing: 20px;
}

.emlaces ul{
    padding-left: 0px;
}

.bibliografia{
    background-color: lightgray;
    padding-bottom: 100px;
    padding-top: 100px;
    border-radius: 5px;
    margin-top: 20px;
}


#linkCC{
    color: white;
}

.seguirnos a {
    color: white;
    text-align: right;
}

.container{
    padding-top: 40px;
    display: grid;
    grid-template-rows: auto auto ;
    grid-template-areas:"llicencia seguirnos";
    font-size: large;
}
.container .seguirnos{
    text-align: right;
}
.container .llicencia{
    text-align: left;
}

footer{
    background-color: black;
    color: white;
}

.llicencia img{
    width: 150px; height: 40px;
}


@media (max-width: 500px) {

    .container{
        grid-template-areas: "llicencia"
        "seguirnos";
    }
    .container .seguirnos{
        text-align: center;
    }
    .container .llicencia{
        text-align: center;
    }

    .bibliografia h2{
        text-align: center;
    }

}