body{
    margin: 0px;
}

header{
    font-family: Garuda;
    display: grid;
    grid-template-areas: "titulo enlace";
    grid-template-columns: auto 220px;
}
header a{
    color: black;
    text-decoration-line: none;
}

.emlaces{
    padding-top: 20px;
    word-spacing: 20px;
}

.emlaces ul{
    padding-left: 0px;
}

.primeraSeccion{
    padding-bottom: 100px;
    padding-top: 100px;
    color: whitesmoke;
    background-image: url("../img/bosque.jpg");
    margin-bottom: 75px;
}

.bibliografia{
    background-color: lightgray;
    padding-bottom: 100px;
    padding-top: 100px;
    border-radius: 5px;
    margin-top: 20px;
}


#linkCC{
    color: white;
}

.seguirnos a {
    color: white;
    text-align: right;
}

.container{
    padding-top: 40px;
    display: grid;
    grid-template-rows: auto auto ;
    grid-template-areas:"llicencia seguirnos";
    font-size: large;
}
.container .seguirnos{
    text-align: right;
}
.container .llicencia{
    text-align: left;
}

footer{
    background-color: black;
    color: white;
}

.llicencia img{
    width: 150px; height: 40px;
}

.top_3 a{
    color: black;
    text-decoration-line: none;
}

.top_3{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
}

.imagen ul{
    padding-left: 10px;
}

.imagen{
    padding: 0px;
    margin-right: 0px;
    margin-top: 20px;
    border: black 1px solid;
    border-radius: 5px;
    text-align: left;
    width: 340px;
}

.animal{
    height: 225px;
    width: 340px;
}

.informacion_animal{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 0px;

}

.poblacion{
    grid-column: 2/3 ;
    grid-row: 1/1;
}

@media (max-width: 500px) {

    .container{
        grid-template-areas: "llicencia"
                             "seguirnos";
    }
    .container .seguirnos{
        text-align: center;
    }
    .container .llicencia{
        text-align: center;
    }

    .bibliografia h2{
       text-align: center;
    }
    .top{
        text-align: center;
    }

    .imagen{
        align-content: center;
    }

    .top_3{
        justify-content: space-around;
    }

}