ol a{
    color: black;
    text-decoration-line: none;
    list-style-type: none;
}

.tipos-animales{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
}

.animal{
    padding: 0px;
    margin-right: 0px;
    margin-top: 20px;
    border: black 1px solid;
    border-radius: 5px;
    text-align: left;
    width: 340px;
}

.foto{
    height: 250px;
    width: 340px;
}

.informacion_animal{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 0px;
    text-align: center;
}

.poblacion{
    grid-column: 2/3 ;
    grid-row: 1/1;
}

.info_general h4{
    text-align: center;
}

.info_general p{
    text-align: justify;
}

.nombre_cientifico{
    text-align: center;
}

.listado h2{
    text-align: center;
}