.info_tortuga{
    display: flex;
    flex-flow: column nowrap;
    border: 3px hidden;
    border-radius: 15px;
    font-family: "Century Gothic";
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    background-image: url("../img/bosque.jpg");
    margin: 0 0 25px;
    overflow: hidden;
    padding: 20px;
}

.info_tortuga h2{
    text-align: center;
    text-decoration-line: underline;
    text-underline-mode: 1px ;
}

.bababua{
    text-align: center;
    border-radius: 5px;
}

.especie{
    text-align: center;
    color: black;
    font-family: Garuda;
    text-decoration-line: underline;
    text-underline-mode: 1px ;
}

.galeria{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.item{
    padding: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: black 1px solid;
    border-radius: 5px;
    text-align: center;
    height: 225px;
    width: 340px;
}

@media (max-width: 500px){
    .galeria{
        flex-direction: column;
    }

    .info_tortuga{
        background-color: black;
        background-image: none;
        text-align: justify-all;
    }

    .galeria ul{
        padding-left: 13px;
    }
}